html {
  --color-primary: #002949;
  --color-secondary-light: #127ac988;
  --color-secondary-dark: #127ac9;
  --color-red-light: rgba(255, 101, 101, 0.62);
  --color-red-dark: rgb(255, 101, 101);
}

body {

}

.App {

}

.CharactersList {

}

.CharacterCard {
background-color: rgb(255, 255, 255);

}

.CharacterCard img {

}

h3 {

}

 button {

}

button:hover {

}

.remove-btn {

}

.remove-btn:hover {

}

.logo {

}

#new-character-form {

}

.characters-container {

}

input {

}

#new-form {

}

input::placeholder { 

}

select {

}

.Filter {

}

label {

}

.Filter input {

}